@media screen and (max-width: 480px) {
    #skills .d-flex img {
        height: 60px !important;
    }
    }

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.navbar .nav-item .active {
    border-left: #444 3px solid;
}

#home-heading {
    position: relative;
    min-height: 500px;
    background: url('../img/caspar-camille-rubin-220711-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7)
}

#skills .d-flex img {
    height: 80px;
}


